html,
body {
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background: beige;
    color: white;
    overflow: hidden;
}

.game-window {
    width: 800px;
    height: 400px;
    position: relative;
    top: 50px;
    border: 2px solid black;
    border-radius: 10px;
    border-width: thick;
    margin: auto;
    display: none;
}

.player {
    width: 50px;
    height: 50px;
    position: relative;
    top: 260px;
    left: 50px;
    z-index: 5;
}
.animate {
    animation: jump 0.3s linear;
}

@keyframes jump {
    0%{top: 150px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top: 150px;}
}

.obstacle {
    width: 20px;
    height: 20px;
    position: relative;
    left: 800px;
    top: 240px;
    z-index: 5;
    animation: obstacle 1.5s infinite linear;
}
@keyframes obstacle {
    0%{left: 800px}
    100%{left: -20px}
}

#ground {
    width: 791px;
    height: 85px;
    position: relative;
    top: 230px;
    background-color: #9f591e;
    z-index: auto;
}

#sky {
    width: 791px;
    height: 310px;
    position: absolute;
    top: 0px;
    border-radius: 10px;
    background-color: #4bf4fc;
    z-index: auto;
}

.scoreCounter {
    width: 100px;
    left: 670px;
    bottom: 350px;
    position: absolute;
    border: 1px solid black;
    color: black;
    display: none;
}

#enter-game {
	display: block;
    position: relative;
    top: 400px;
    margin: auto;
	padding: 10px 20px;
    min-width: 125px;
	text-decoration: none;
	font-size: 1.25em;
    background-color: rgba(218, 44, 13, 0.934);
	color: black;
    border-width: medium;
    border-radius: 10px;
}

div.modal#start-open {
    /* visibility: hidden; */
}

div.modal#game-instructions {
    display: none;
    color: black;
    height: 60vw;
    width: 60vw;
    /* top: 50%;
    left: 0;
    right: 0;
    transform: translateY(0%); */
    margin: 0 auto;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 5px 2.5px 10px 0px rgb(38, 36, 36);
}

