body {
    display: flex;
}

.game-container {
    width: 800px;
    height: 800px;
    top: 100px;
    position: absolute;
    left: 80px;
    border: solid black;
}

.sky {
    width: 800px;
    height: 800px;
    position: absolute;
    background-color: #4BF4FC;
}

.ground {
    width: 800px;
    height: 100px;
    position: absolute;
    background-color: #9F591E;
}

.dinorun5 {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 0px;
    left: 50px;
    z-index: 5;
}

.obstacle {
    position: absolute;
    width: 60px;
    height: 60px; 
    background-color: green;
    bottom: 0px;
}

.game-over-image {
    z-index: 5;
    position: absolute;
    left: 300px;
    top: 500px;
    display: none;
}

.grid {
    display: flex;
    background-color: yellow;
}
 